 /* BEGIN KEVIN */

* {
    padding: 0;
    margin: 0;
}

:root {
    --background-color-1: #050542;
    --background-color-2: #66e5bf;

    --text-color-1: #050542;
    --text-color-2: #66e5bf;

    --text-color-1: #050542;
    --text-color-2: #fff;

    --outline-color-1: #050542;
    --outline-color-2: #66e5bf;
    
    /* h1 */
    --font-size-xl: 3rem;
    /* h2 */
    --font-size-l: 2rem;
    /* h3 */
    --font-size-m: 1.5rem;
    /* p */
    --font-size-s: 1rem;
}

header {
    background: var(--background-color-2);
    outline: solid var(--outline-color-1);
    width: 100%;
    height: 100px;
}

aside {
    z-index: -1;
    background: var(--background-color-2);
    outline: solid var(--outline-color-1);
    position: absolute;
    left: 0;
    height: 1000px;
    width: 250px;
}

/* EINDE KEVIN */



/* BEGIN KÉ */
.container {
  position: relative;
  width: 20em;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  background-color: var(--background-color-1);
}

img {
  display: block;
  width: 20em;
  height: 17em;
  position: relative;
  border-radius: 1em;
  object-fit: cover;
}


.overlay {
  position: absolute;
  transition: all 0.3s ease;
  opacity: 0;
  background-color:var(--background-color-2);
  border-radius: 1em;
  overflow: hidden;
  padding: 1em;
}

.container:hover .overlay {
  opacity: 1;
  width: 20em;

}



.overlaybottom {
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
}

.container:hover .overlaybottom {
  height: 92%;
}

/* EINDE KÉ */




/* BEGIN METE */


/* EINDE METE */




/* BEGIN MAARTEN */


/* EINDE MAARTEN */