 /* BEGIN KEVIN */

* {
    padding: 0;
    margin: 0;
}

:root {
    --background-color-1: #050542;
    --background-color-2: #66e5bf;

    --text-color-1: #050542;
    --text-color-2: #66e5bf;
    
    /* h1 */
    --font-size-xl: 3rem;
    /* h2 */
    --font-size-l: 2rem;
    /* h3 */
    --font-size-m: 1.5rem;
    /* p */
    --font-size-s: 1rem;
}

/* EINDE KEVIN */



/* BEGIN KÉ */


/* EINDE KÉ */




/* BEGIN METE */


/* EINDE METE */




/* BEGIN MAARTEN */


/* EINDE MAARTEN */