 /* BEGIN KEVIN */

* {
    padding: 0;
    margin: 0;
    font-family: 'open-sans';
    box-sizing: border-box;
}

@font-face {
  font-family: 'open-sans';
  src: url(../fonts/OpenSans-Regular.ttf);
}

:root {
    --background-color-1: #050542;
    --background-color-2: #66e5bf;

    --text-color-1: #050542;
    --text-color-2: #fff;

    --outline-color-1: #050542;
    --outline-color-2: #66e5bf;
    
    /* h1 */
    --font-size-xl: 3rem;
    /* h2 */
    --font-size-l: 2rem;
    /* h3 */
    --font-size-m: 1.6rem;
    /* h4/a */
    --font-size-sm: 1.2rem;
    /* p */
    --font-size-s: 1rem;
}

main {
  background: var(--background-color-1);
  height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4em 0 1em;
    background: var(--background-color-1);
    outline: solid 0.5em var(--outline-color-2);
    width: 100%;
    height: 100px;
    /* position:absolute; */
    color: var(--text-color-2);
}

aside {
    justify-content: center;
    /* z-index: 1; */
    padding-top: 1em;
    background: var(--background-color-1);
    outline: solid 0.5em var(--outline-color-2);
    color: var(--text-color-2);
    /* position: absolute; */
    left: 0;
    height: 100%;
    width: 200px;
}

section.sidebar {
  padding: 1em;
}

summary {
  font-size: var(--font-size-m);
}

li {
  list-style: none;
  margin: 1.8em 0 1.8em 0;

    a {
      text-decoration: none;
      padding: 0.5em;
      font-size: var(--font-size-m);
    }
}


.navKnop {
  color: var(--background-color-1);
  background: var(--background-color-2);
  border-radius: 5em;

    a {
      margin: 0.5em;
    }
}




/* EINDE KEVIN */


/* BEGIN METE */

.search-box{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

header input{
    padding: 0.5rem 1.7rem;
    border-radius: 5rem;
}

button.search-btn {
  justify-content: center;
}

.search-btn{
    background: none;
    border: none;
    cursor: pointer;
}

.search-icon{
    height: 1.8rem;
    width: 2rem;
    top: 0.05rem;
    position: relative;
}

footer{
  background: #66e5bf;
  box-shadow: 0 -6px 25px rgba(99, 199, 173, 0.5);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 3rem 0;
  h4{
    text-align: center;
    font-size: var(--font-size-m);
  }
  
}

.team-links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  padding: 0 5rem;
  a{
    display: flex;
    gap: 1rem;
    color: black;
    font-weight: 600;
    font-size: var(--font-size-sm);
  }
  img{
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;
    position: relative;
    top: -0.3rem;
  }
  @media (min-width: 655px) {
    flex-direction: row;

  }
}
/* EINDE METE */




/* BEGIN MAARTEN */


/* EINDE MAARTEN */






































/* BEGIN KÉ */
main{
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.container {
  position: relative;
  max-width: 20em;
  /* width: 270px; */
  height: 16em;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  border: solid var(--outline-color-2) 3px;
  background-color: var(--background-color-1);
  box-shadow: var(--outline-color-2) 5px 5px, var(--outline-color-2) 8px 8px;
}

h2{font-size: var(--font-size-sm);
display: inline;}

img {
  display: block;
  max-width: 20em;
  /* width: 270px; */
  height: 12em;
  position: relative;
  border-radius: 1em;
  object-fit: cover;
}

figcaption{color: var(--text-color-2);}

.overlay {
  position: absolute;
  transition: all 0.3s ease;
  opacity: 0;
  background-color:var(--background-color-2);
  border-radius: 1em;
  overflow: scroll;
  scrollbar-color: var(--background-color-1) var(--background-color-2);
  scrollbar-width: thin;
  width: inherit;
  padding: 1em;
  border: solid var(--outline-color-1) 3px;
  box-shadow: var(--outline-color-1) 5px 5px, var(--outline-color-1) 8px 8px;
}

.container:hover .overlay {
  opacity: 1;
}

.overlaybottom {
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
}

.container:hover .overlaybottom {
  height: 100%;
}

.like-btn{
z-index: 1;
background-color: rgba(255, 255, 255, 0.875);
border-radius: 50%;
padding:.3em;
right: 8px;
top: 5px;
height: 4em;
position:absolute;
cursor: pointer;

&:hover{
svg{
  fill: black;
}
}
}

svg{width: 3em;}
/* EINDE KÉ */
